body {
    background-color: #000;
    color: #00FF00;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
main {
    text-align: left;
    padding-right: 20px;
}
footer {
    padding: 20px;
    border-top: 1px solid #00FF00;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    color: #c58af9; /* Замените #ff0000 на нужный вам цвет */
    text-decoration: none;
}

a:hover {
    color: #c58af9; /* Цвет при наведении, измените при необходимости */
    text-decoration: underline;
}
