html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #00FF00;
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    flex-grow: 1; /* Основное содержимое занимает оставшееся пространство */
    text-align: left;
    padding: 20px;
}

footer {
    padding: 20px;
    border-top: 1px solid #00FF00;
    background-color: #000;
    text-align: center;
    color: #00FF00;
}

a {
    color: #c58af9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    background-color: #696969;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    color: #00FF00;
}

code {
    color: #9ACD32;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
}

term {
    font-family: Consolas, "Courier New", monospace;
}
